<!DOCTYPE html>
<html>
<head>
  <title>FullcalendarAndRails</title>
  <%= csrf_meta_tags %>

  <link rel='stylesheet' href='http://bostonexec.com/css/fullcalendar.min.css' />
  <link rel='stylesheet' href='http://bostonexec.com/css/fullcalendar.print.css' media='print' />
  <link rel='stylesheet' href='http://bostonexec.com/css/scheduler.min.css' />
  <script src='http://bostonexec.com/js/jquery.min.js'></script>
  <script src='http://bostonexec.com/js/moment.min.js'></script>
  <script src='http://bostonexec.com/js/fullcalendar.min.js'></script>
  <script src='http://bostonexec.com/js/scheduler.js'></script>



</head>
<body>

<%= yield %>

</body>
</html>
